.hero-section {
   position: relative;
   overflow: hidden;
   height: 100vh;
   min-height: 640px;

   &.video-hero {
      height: 100vh;

      @include breakpoint('sm') {
         height: auto;
         min-height: auto;
      }
   }

   video.hero-section-background {
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
   }

   .hero-section-background-overlay {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background: radial-gradient(
         50% 200% at 50% 50%,
         rgba(0, 0, 0, 0.6) 0%,
         rgba(0, 0, 0, 0) 60%
      );
   }
   .hero-section-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 20px;
      width: 100%;
      box-sizing: border-box;

      .hero-title-wrapper {
         overflow: hidden;

         h1 {
            display: flex;
            flex-direction: column;
         }
      }

      .hero-section-description {
         font-size: 24px;
         margin-bottom: 40px;
         line-height: 32px;
         letter-spacing: 0;
         font-weight: 400;

         @include breakpoint('sm') {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 30px;
         }
      }
   }

   .hero-section-btn {
      overflow: hidden;

      .btn-primary {
         @include breakpoint('sm') {
            line-height: 26px;
         }
      }
   }
}
